.center{
  background-image:
}
.nav-bar{
  background-color:

}
ul{
  list-style-type: none;
  margin: 0;
  padding:5px;
  overflow: hidden;
  background-color:#c94c4c;
  width: 100%;
  position:sticky;
  top:30px;
  margin-bottom: 20px;
}
li{
  color:white;
  float:left;
  display:inline;
  text-indent: 100px;
}
footer{

}
