header{
  text-align:center;

  font-size:180%;
}
.name h1{
  border-bottom: 3px solid orange;
  line-height:auto;
  margin:0;
}
.name h2{
  padding-top:0;
  margin-top:20px;
  font-style:italic;
  background-color:orange;
  color:white;
}
.about{
  background-image:url("");
  width:100%;
}
img{
  float:center;
  width:100%;
  border:3px solid orange;

}
p{
  font-size:120%;
  line-height:20px;
}
table, td, th{
  text-align:center;
  border:2px solid orange;
  border-collapse:collapse;
  font-weight:bold;
}
table{
  width:100%;
}
li{
  list-style-type:none;
}
h1{
  border-bottom:3px solid orange;
  text-align:center;
  font-weight:bold;
}
.menu{
  text-align:center;
  width:100%;
  float:left;

}
.contacts{
  text-align:center;
  background-color:orange;

}
ul{
  font-style:italic;
  font-size:110%;
}
footer{

}
